/* the styles here are global and have to import the file into the jsx file that you want to use the csss features */
.Person { 
    width: 60%; 
    margin: auto;
    border: 1px solid #eee; 
    box-shadow: 0 2px 3px #ccc; 
    padding: 16px; 
    text-align: center;
    top: 16px; 
    bottom: 16px; 
}